/* fonts */
.fira-sans-regular {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

/* global styles */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

/* colors */
.text-black-100 {
  color: rgba(14, 14, 14, 1);
}

.text-black-90 {
  color: rgba(14, 14, 14, 0.9);
}

.text-black-80 {
  color: rgba(14, 14, 14, 0.8);
}

.text-black-70 {
  color: rgba(14, 14, 14, 0.7);
}

.text-black-60 {
  color: rgba(14, 14, 14, 0.6);
}

.text-black-50 {
  color: rgba(14, 14, 14, 0.5);
}

.text-white {
  color: #ffffff;
}

.text-off-white {
  color: #f5f5f5;
}

.text-green {
  color: #006a50;
}

.bg-blue {
  background-color: #c6e4d6;
}

.bg-green {
  background-color: #006a50;
}

.bg-orange {
  background-color: #ffc239;
}

/* common styles */
.section {
  margin-bottom: 80px;
}
.section-heading {
  color: rgba(14, 14, 14, 1);
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 24px;
}

.section-description {
  color: rgba(14, 14, 14, 0.7);
}

.section-contents {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.card-heading {
  font-size: 20px;
  color: rgba(14, 14, 14, 0.8);
}

.description {
  line-height: 24px;
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
}

.dark-green-bg-btn {
  padding: 17px 34px;
  font-weight: 600;
  color: white;
  border-radius: 8px;
  background-color: #006a50;
}

.dark-green-bg-btn:hover {
  background-color: #234c42;
}

.big-container {
  padding: 0 160px;
  background-color: #f5f5f5;
}

/* header */
nav {
  padding: 24px 0;
}

nav .navbar-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 32px;
  font-weight: bold;
}

.sign-in-btn {
  font-size: 18px;
  color: #006a50;
  padding: 15px 30px;
  border-radius: 8px;
  border: 1px solid #006a50;
}

.sign-in-btn:hover {
  color: #ffffff;
  background-color: #006a50;
}

/* banner section */
.banner-section {
  border-radius: 24px;
  padding: 80px 60px;
  background-color: #c6e4d6;
  display: flex;
  gap: 64px;
  justify-content: space-between;
}

.banner-section .text-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: start;
}

.banner-section .bangladesh-text {
  font-size: 24px;
}

.banner-section .main-text {
  font-size: 56px;
}

/* pillar section */
.pillar-section .pillar-container {
  margin-top: 8px;
  display: flex;
  gap: 24px;
}

.pillar-section .pillar-container .pillar {
  padding: 24px;
  background-color: #ffffff;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.pillar-section .pillar-container .pillar .pillar-details {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* vision section */
.vision-section .vision-container {
  display: flex;
  gap: 24px;
}

.vision-section .vision-container .vision {
  padding: 32px;
  border-radius: 16px;
  height: 293px;

  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.vision-section .vision-container .vision .vision-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: start;
  align-items: start;
}

.vision-section .vision-container .vision .vision-content .vision-content-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.vision-section .vision-container .blue-vision {
  background-color: rgba(84, 144, 245, 0.2);
}

.vision-section .vision-container .green-vision {
  background-color: #c6e4d6;
}

.vision-section .vision-container .orange-vision {
  background-color: #f7ebcf;
}

.vision-section .vision-container .vision .btn {
  padding: 11px 20px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  color: white;
}

.vision-section .vision-container .vision .btn:hover {
  background-color: #006a50;
}

.vision-section .vision-container .blue-vision .btn {
  background-color: #5490f5;
}

.vision-section .vision-container .green-vision .btn {
  background-color: #09a15c;
}

.vision-section .vision-container .orange-vision .btn {
  background-color: #ffc239;
}

.vision-section .quote-container {
  padding: 48px 24px;
  background-color: #ffffff;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.vision-section .quote-container .quote-text {
  color: rgba(14, 14, 14, 0.8);
}

.vision-section .quote-container .quote-author {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.vision-section .quote-container .quote-author .quote-author-name {
  font-weight: 600;
  font-size: 20px;
  color: rgba(14, 14, 14, 0.8);
}

.vision-section .quote-container .quote-author .quote-author-designation {
  color: rgba(14, 14, 14, 0.6);
  font-size: 16px;
}
.opinion-section .table-container {
  padding: 32px;
  background-color: white;
  border-radius: 16px;
}

.opinion-section table {
  width: 100%;
  border-collapse: collapse;
}

.opinion-section table th,
td {
  border: 1px solid rgba(14, 14, 14, 0.15);
  padding: 24px;
  font-weight: 600;
}

.opinion-section table th {
  background-color: #c6e4d6;
}

.opinion-section table th .table-heading {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.opinion-section table td {
  font-size: 16px;
}

.opinion-section table .right-cell {
  text-align: center;
}

.opinion-section table .right-cell .table-option {
  padding: 10px 16.5px;
  text-align: center;
  background-color: #c6e4d6;
  color: #0e0e0e;
  border: 1px solid #0e0e0e;
  border-radius: 4px;

  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

/* recent news section */
.news-section .news-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.news-section .news-container .news {
  display: flex;
  justify-content: start;
  padding: 48px;
  border-radius: 24px;
  background-color: #ffffff;
}

.news-section .news-container .news > img {
  border-radius: 24px;
}

.news-section .news-container .news .image-left {
  margin-right: 32px;
}

.news-section .news-container .news .image-right {
  margin-left: 32px;
}

.news-section .news-container .news .text-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: space-around;
  align-items: start;
}

.news-section .news-container .news .text-container .news-texts {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: start;
}

.news-section .news-container .news .text-container .news-texts .news-heading {
  font-size: 32px;
  font-weight: bold;

  color: rgba(14, 14, 14, 0.8);
}

.news-section
  .news-container
  .news
  .text-container
  .news-texts
  .news-publish-details {
  display: flex;
  gap: 12px;
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
}

.news-section .news-container .news .text-container .btn {
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  background-color: #006a50;
  padding: 13px 26px;
  border-radius: 8px;
}

.news-section .news-container .news .text-container .btn:hover {
  background-color: #00aa80;
  color: #0e0e0e;
}

.donate-section {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: start;
  align-items: center;
  text-align: center;
}

.donate-section header {
  display: flex;
  flex-direction: column;
}

.donate-section .description {
  padding: 0 88px;
}

.donate-section .amount-container {
  display: flex;
  gap: 24px;
}

.donate-section .amount-container .amount {
  padding: 40px;
  background-color: #ffffff;
  font-size: 40px;
  font-weight: bold;
  border-radius: 16px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  color: rgba(14, 14, 14, 0.8);
  cursor: pointer;
}

.donate-section .amount-container .amount:hover {
  background-color: #90c1aa;
}

.donate-section .amount-container .colored-amount {
  background-color: #c6e4d6;
}

.donate-section input {
  padding: 20px;
  font-size: 20px;
  border: none;
  background-color: #ffffff;
  text-align: center;
  width: 1032px;
  border: 1px solid rgba(14, 14, 14, 0.15);
}

/* newsletter section */
.newsletter-section {
  padding: 80px 0;
  margin-bottom: 0;

  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: center;
  text-align: center;

  background-color: #c6e4d6;
  border-radius: 24px;
}

.newsletter-section header {
  max-width: 750px;
}

.newsletter-section form {
  display: flex;
  width: 750px;
}

.newsletter-section form input {
  border: none;
  border-radius: 8px 0 0 8px;
  font-size: 16px;
  font-weight: normal;
  padding: 18px 40px;
  flex: 1;
}

.newsletter-section form button {
  border-radius: 0 8px 8px 0;
  border: none;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.newsletter-section .promise {
  line-height: auto;
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  padding: 50px 0;
  margin: 0 160px;
}

footer hr {
  border: 1px solid rgba(14, 14, 14, 0.1);
  width: 80%;
}

footer .footer-heading {
  font-size: 32px;
  font-weight: bold;
}

footer .social-container {
  display: flex;
  gap: 23px;
}

.pillar-section .pillar-container .pillar:hover,
.vision-section .vision-container .vision:hover,
.news-section .news-container .news:hover {
  background-color: #eaeaf0;
}
